---
---

<article class="project-card">
  <picture class="project-card__screenshots"></picture>
  <div class="project-card__description">
    <h2 class="project-card__description__title"></h2>
    <p class="project-card__description__overview"></p>
    <p class="project-card__description__stack"></p>
  </div>
  <div class="project-card__links">
    <a href="" target="_blank" class="project-card__links__demo">
      <div>Demo</div>
    </a>
    <a href="" target="_blank" class="project-card__links__repo">
      <div>Github</div>
    </a>
  </div>
</article>
