---
import Techno from "./Techno.astro";

const mainTechnos = [
  {
    link: "/assets/images/react.png",
    name: "React",
  },
  {
    link: "/assets/images/javascript.png",
    name: "Javascript",
  },
  {
    link: "/assets/images/redux.png",
    name: "Redux toolkit",
  },
  {
    link: "/assets/images/scss.png",
    name: "Scss",
  },
];

const addTechnos = [
  {
    link: "/assets/images/git.png",
    name: "Git",
  },
  {
    link: "/assets/images/typescript.png",
    name: "TypeScript",
  },
  {
    link: "/assets/images/nodejs.png",
    name: "Node.js",
  },
  {
    link: "/assets/images/astrojs.png",
    name: "Astro.js",
  },
  {
    link: "/assets/images/remix.png",
    name: "Remix",
  },
  {
    link: "/assets/images/tailwind.png",
    name: "Tailwind",
  },
  {
    link: "/assets/images/mongo.png",
    name: "MongoDB",
  },
];
---

<div class="skills">
  <h3 class="skills__title">Technologies i have worked with</h3>
  <div class="skills__main">
    {
      mainTechnos.map((skill) => {
        return <Techno link={skill.link} skillName={skill.name} />;
      })
    }
  </div>
  <div class="skills__also">
    {
      addTechnos.map((skill) => {
        return <Techno link={skill.link} skillName={skill.name} />;
      })
    }
  </div>
</div>

<style>
  .skills__title {
    padding-left: 2vw;
    font-size: 0.67em;
    margin: 0.4em 0;
  }
  .skills__main {
    padding-left: 5vw;
    margin: 0.5em 0;
    display: flex;
    justify-content: flex-start;
    gap: 0.3em;
    max-width: 1500px;
  }
  .skills__also {
    display: flex;
    justify-content: flex-start;
    gap: 0.3em;
    margin: 0.5em 0;
    padding-left: 5vw;
    max-width: 1500px;
  }
</style>
