---
---

<div class="photo-profile">
  <img src="/assets/images/photo_profile.jpg" />
</div>
<p class="description-text">
  Welcome to my site ! I'm a junior frontend developer based in Versailles,
  France, who is passionnate aabout mordern technologies and creative ways of
  solving problems.
</p>
<p class="description-text">
  I work mainly with React.js and his frameworks environement
</p>
<p class="description-text">
  In addition to my web developement skills, I like few others things like sound
  engineering and board sports, and i love to travel to praticing thoses;
</p>

<style lang="scss">
  .photo-profile {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid teal;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      object-position: -15px;
    }
  }
  .description-text {
    line-height: 1.6;
    font-size: 1.05em;
  }
</style>
