---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import Navbar from "../components/NavBar/Navbar.astro";
import About from "../components/About/About.astro";
import SocialLinks from "../components/Contact/SocialLinks.astro";
import Catch from "../components/Home/Catch.astro";
import Skills from "../components/Skills/Skills.astro";
import Form from "../components/Contact/Form.astro";
import Container from "../components/Portfolio/Container.astro";
---

<Layout title="Steeve">
  <div class="main-container">
    <Navbar />
    <main>
      <Section name="home">
        <Catch />
      </Section>
      <div class="section-seperator"></div>
      <Section title="About Me" name="about">
        <About />
      </Section>
      <div class="section-seperator"></div>
      <Section title="Portfolio" name="portfolio">
        <h3>Here some of my work</h3>
        <Container />
      </Section>
      <div class="section-seperator"></div>
      <Section title="Skills" name="skills">
        <h3 class="skills__title">Technologies i have worked with</h3>
        <Skills />
      </Section>
      <div class="section-seperator"></div>
      <Section title="Contact" name="contact">
        <h3>Reach out to me</h3>
        <SocialLinks />
        <Form />
      </Section>
    </main>
  </div>
</Layout>
<footer class="footer">
  <p>@all right reserved steeve matou</p>
</footer>

<style>
  .main-container {
    transition: 1s;

    @media screen and (min-width: 768px) {
      width: 90%;
      max-width: 1400px;
      margin: 0 auto;
      padding: 4vh 2vh;
      box-shadow: 0 25px 50px -12px black;
    }
  }
  h3 {
    font-family: "Itim", cursive;
    text-align: center;
    font-size: 1.4em;
    font-weight: light;
    margin: 1em 0;
    color: var(--text);
  }
  .section-seperator {
    height: 1px;
    width: 100%;
    border-bottom: 1px dotted var(--teal);
    margin: 2em 0;
  }
</style>
