---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import Navbar from "../components/NavBar/Navbar.astro";
import About from "../components/About/About.astro";
import SocialLinks from "../components/Contact/SocialLinks.astro";
---

<Layout title="Steeve">
  <Navbar />
  <main>
    <Section title="Home" name="home">
      <p>My name is Steeve</p>
      <p>I'am Frontend developer</p>
    </Section>
    <Section title="About" name="about">
      <About />
    </Section>
    <Section title="Portfolio" name="portfolio">Here goes Home section</Section>
    <Section title="Skills" name="skills">
      <ul class="top-skills">
        <a href="">
          <li class="skill">React.js</li>
        </a>
        <a href="">
          <li class="skill">Rest API</li>
        </a><a href="">
          <li class="skill">Scss</li>
        </a><a href="">
          <li class="skill">Redux Toolkit</li>
        </a>
      </ul>
      <ul>
        <a href="">
          <li class="skill">MongoDB</li>
        </a><a href="">
          <li class="skill">Git</li>
        </a><a href="">
          <li class="skill">TypeScript</li>
        </a><a href="">
          <li class="skill">Astro.js</li>
        </a><a href="">
          <li class="skill">Node & Express.js</li>
        </a>
      </ul>
    </Section>
    <Section title="Contact" name="contact">
      <h3>Reach out to me</h3>
      <SocialLinks />
      <form>
        <input type="text" />
        <input type="email" />
        <textarea></textarea>
      </form>
    </Section>
  </main>
</Layout>
<footer class="footer">
  <p>@all right reserved steeve matou</p>
</footer>

<style>
  main {
    max-width: 60ch;
  }
</style>
