---
---

<ul class="nav-links">
  <li class="link">Home</li>
  <li class="link">About</li>
  <li class="link">Portfolio</li>
  <li class="link">Skills</li>
  <li class="link">Contact</li>
</ul>

<style lang="scss">
  .nav-links {
    display: none;
    list-style-type: none;
    height: 50px;

    .link {
      color: red;
    }
  }
</style>
