---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }

  blockquote::before,
  blockquote::after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* Reset perso */
  a,
  del,
  ins {
    text-decoration: none;
  }
  a {
    color: inherit;
  }

  label,
  button {
    cursor: pointer;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  input,
  button {
    outline: 0;
  }

  code {
    background-color: #ddd;
    padding: 0.3em;
  }

  img {
    max-width: 100%;
  }
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/Atkinson-Hyperlegible-Regular-102.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "PoetsenOne";
    src: url("/fonts/PoetsenOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Akira";
    src: url("/fonts/Akira.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Atkinson", system-ui, sans-serif;
  }
  code {
    font-family: "Atkinson", Lucida, Courier New, monospace;
  }
  body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/background.svg");
    min-height: 100vh;
    --primary: rgb(247, 247, 241);
    --primary_soft_nav: rgba(235, 235, 229, 0);
    /* --primary_soft_nav: rgba(235, 235, 229, 0.686); */
    --primary_soft_mobile: rgba(247, 247, 241, 1);
    --primary_light: rgb(67, 80, 85);
    --border: rgb(214, 219, 220);
    --accent_color: rgb(202, 129, 19);
    --accent_color_light: rgb(207, 180, 140);
    --light_background: rgb(219, 235, 238);
    --teal: rgb(41, 161, 156);
    --mint: rgb(163, 247, 191);
    --text: rgba(32, 33, 33, 0.928);
    background-color: var(--primary);
    transition: all 0.3s ease;
  }

  body[data-theme="dark"] {
    --primary: rgb(39, 50, 58);
    --primary_soft_nav: rgb(32, 41, 47, 0.685);
    --primary_soft_mobile: rgb(32, 41, 47, 1);
    --primary_light: rgb(67, 80, 85);
    --teal: rgb(41, 161, 156);
    --mint: rgb(163, 247, 191);
    --text: rgb(219, 226, 233);
  }
</style>
